.signup{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.from{
  background-color: aliceblue;
  padding: 30px;
  border: solid 1px black;
  border-radius: 30px;
  width: 400px;
  
}
.fromin{
  background-color: rgb(255 255 255 / 32%);
}


.material-symbols-outlined-red {
  color: red;
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 200,
  'opsz' 24
}

